html,
body{
  background: #F8F8F8;
}

.header,
.header-links,
.main-top,
.main-top-list,
.avatar,
.avatar div {
  display: flex;
}

.header,
.header-links,
.main-top,
.avatar div {
  align-items: center;
}

.header-links h1,
.main-top-list li h4,
.section-head-text,
.filters input,
.dropdown-container select,
.head-section-text,
.avatar div,
.card h3,
.card h4,
.appointment-date span,
.bid span,
footer h1,
.main-top-list li h3 {
  font-family: Roboto;
  font-style: normal;
  color: #4A4A4A;
  font-size: 16px;
}

.main-top-list li,
.card h3,
.card h4,
.appointment-date,
.bid,
footer h1 {
  text-align: center;
}

.header-links h1,
.main-top-list li h3,
.section-head-text,
.head-section-text,
.avatar div,
.card h3,
.appointment-date span,
.bid span {
  font-weight: bold;
}

.header,
.main-top {
  justify-content: space-between;
}

main,
.dropdown-container select,
.card {
  background: #FFFFFF;
}

main,
.dropdown-container select,
.appointment-date span,
.bid span {
  border-radius: 3px;
}

.main-top-list li h4,
.filters input,
.dropdown-container select,
.card h4,
footer h1 {
  font-weight: normal;
}

.filters input,
.dropdown-container select,
.card {
  border-radius: 4px;
}

.filters input,
.dropdown-container select {
  border: 1px solid #E6E6E6;
  color: #9D9D9D;
  width: 100%;
  box-sizing: border-box;
  line-height: 19px;
}

.dropdown-container,
.input-container {
  position: relative;
}

.arrow-down,
.search-icon {
  position: absolute;  
}

.appointment-date span,
.bid span {
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #9D9D9D;
  padding: 4px 8px;
}

.header {
  height: 60px;
}

.header-links h1 {
  line-height: 24px;
}

.hamburger-icon {
  margin-right: 36px;
}

.header-links li {
  margin-right: 38px;
}

main {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  padding: 32px 24px;
  margin-bottom: 24px;
}

.main-top {
  margin-bottom: 32px;
}

.main-top-list li {
  border-right: 1px solid #E6E6E6;
  padding: 0 43px;
}

.main-top-list li:last-child {
  border-right: none;
}

.main-top-list li h3 {
  font-size: 20px;
}

.main-top-list li h4 {
  font-size: 14px;
  line-height: 20px; 
}

.section-head-text {
  font-size: 24px;
  line-height: 32px;
  margin-left: 16px;
}

.filters {
  margin-bottom: 32px;
}

.filters input {
  padding: 13px 13px 13px 45px;
}

.dropdown-container select {
  padding: 11px 16px;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  cursor: pointer;
}

.dropdown-container {
  margin-right: 8px;
}

.arrow-down {
  width: 16px;
  height: 16px;
  top: 13px;
  right: 3px;
  pointer-events: none;
}

.search-icon {
  top: 11px;
  left: 14px;
}

.head-section-text {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.card {
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  padding: 24px 0;
}

.avatar {
  margin-bottom: 8px;
  justify-content: center;
}

.avatar div {
  width: 70px;
  height: 70px;
  background: #E3E7F9;
  border-radius: 50%;
  justify-content: center;
  line-height: 24px;
  color: #405493;
}

.card h3 {
  line-height: 24px;
}

.card h4 {
  line-height: 24px; 
}

.bid span {
  background: #FEB902;
}

.appointment-section {
  margin-bottom: 32px;
}

footer h1 {
  font-size: 14px;
  line-height: 22px;
  mix-blend-mode: normal;
  opacity: 0.54;
  margin-bottom: 24px;
}

.card-columns-mobile {
  flex-wrap: wrap;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .header {
    padding: 0 24px;
  }

  .header-links li {
    margin-right: 0;
  }

  .hamburger-icon {
    margin-right: 0;
  }

  .logo > svg {
    width: 99.3px;
    height: 15px;
  }

  .card-columns-mobile {
    flex-wrap: nowrap !important;
    overflow-x: auto;
  }
}

@media screen and (max-width: 1023px){
  .header-left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}